.flex {
  display: flex;
}
.flex.align_center {
  align-items: center;
}
.flex.justify_center {
  justify-content: center;
}
.flex.justify_between {
  justify-content: space-between;
}
.flex.space_between {
  justify-content: space-between;
}
.flex.align-end {
  align-items: end;
}

.title h3 {
  margin-bottom: 15px;
}
.title h6 {
  font-size: 14px;
}

.btn {
  display: inline-block;
  border: 1px solid #003865;
  font-size: 14px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.18);
  padding: 12px 18px;
  text-transform: uppercase;
  min-width: 160px;
  color: #003865;
}
.btn i {
  font-size: 12px;
  opacity: 0.8;
  margin-left: 8px;
}
.btn:hover {
  background-color: #3572ef;
  color: #fff;
}

header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
}
header::before {
  position: absolute;
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.08);
}
header .top_menu {
  padding: 10px 0;
  position: relative;
  z-index: 2;
  background: #3572ef;
}
header .top_menu a {
  color: #fff;
  margin: 0 20px;
  font-size: 14px;
  font-weight: 300;
}
header .top_menu a i {
  margin-right: 3px;
}
header .logo {
  margin-right: 50px;
}
header .logo img {
  height: 75px;
}
header .menu {
  border-top: 1px solid #b6b6b6;
  border-bottom: 1px solid #b6b6b6;
  position: relative;
  z-index: 2;
}
header .menu_list li {
  margin-right: 40px;
}
header .menu_list a {
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
}
header .menu_list a i {
  font-size: 11px;
  margin-left: 4px;
}
header .menu_btn {
  text-transform: uppercase;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
}
header .menu_btn a {
  border: 1px solid #b6b6b6;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.08);
  padding: 10px 18px;
}
header .menu_btn a:hover {
  background-color: #3572ef;
  color: #fff;
}

.hero .swiper-slide {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 3;
}
.hero .swiper-slide.swiper-slide-active .hero_text {
  top: 55%;
  opacity: 1;
  visibility: visible;
  transition-delay: 1s;
}
.hero .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
}
.hero .swiper-slide a:hover {
  color: #fff;
}
.hero .swiper-slide .hero_image {
  width: 100%;
  height: 100%;
  background-position: center !important;
  background-size: cover !important;
  position: relative;
}
.hero .swiper-slide .hero_image::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  z-index: 1;
}
.hero .swiper-slide .hero_text {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: 1.5s;
}
.hero .swiper-slide .hero_text h1 {
  margin-bottom: 30px;
}
.hero .swiper-slide .hero_text p {
  font-size: 17px;
}
.hero .swiper-slide .hero_text .btn {
  display: inline-block;
  border: 1px solid #b6b6b6;
  font-size: 14px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.18);
  padding: 12px 18px;
  margin-top: 30px;
  text-transform: uppercase;
  width: 160px;
}
.hero .swiper-slide .hero_text .btn i {
  font-size: 12px;
  opacity: 0.8;
  margin-left: 8px;
}
.hero .swiper-slide .hero_text .btn:hover {
  background-color: #3572ef;
  color: #fff;
}
.hero .swiper-button {
  width: 45px;
  height: 45px;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 50%;
  border: 1px solid #b6b6b6;
}
.hero .swiper-button:hover {
  background-color: #3572ef;
}
.hero .swiper-button:after {
  font-size: 16px;
  color: #fff;
}

.choose .box {
  background: #ebf6fa;
  border: 1px solid rgba(3, 25, 44, 0.15);
  border-radius: 4px;
}
.choose .box .image img {
  width: 100%;
  height: 340px;
  -o-object-fit: cover;
     object-fit: cover;
}
.choose .box .text {
  padding: 40px 30px;
  text-align: center;
}
.choose .box .text h5 {
  font-weight: 700;
  margin-bottom: 15px;
}
.choose .box .text p {
  font-size: 14px;
  line-height: 24px;
}
.choose .box .text .btn {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 600;
}/*# sourceMappingURL=style.css.map */