.flex {
  display: flex;
}
.flex.align_center {
  align-items: center;
}
.flex.justify_center {
  justify-content: center;
}
.flex.justify_between {
  justify-content: space-between;
}
.flex.space_between {
  justify-content: space-between;
}
.flex.align-end {
  align-items: end;
}

.title h3 {
  margin-bottom: 15px;
}
.title h6 {
  font-size: 14px;
}

.btn {
  display: inline-block;
  border: 1px solid #003865;
  font-size: 14px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.18);
  padding: 12px 18px;
  text-transform: uppercase;
  min-width: 160px;
  color: #003865;
}
.btn i {
  font-size: 12px;
  opacity: 0.8;
  margin-left: 8px;
}
.btn:hover {
  background-color: #00589f;
  color: #fff;
}

header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: #fff;
}
header .top_menu {
  padding: 10px 0;
  position: relative;
  z-index: 2;
  background: #00589f;
}
header .top_menu a {
  color: #fff;
  margin: 0 20px;
  font-size: 14px;
  font-weight: 300;
}
header .top_menu a i {
  margin-right: 3px;
}
header .logo {
  margin-right: 50px;
}
header .logo img {
  height: 75px;
}
header .menu {
  border-bottom: 1px solid #e5e5e5;
  position: relative;
  z-index: 2;
}
header .menu_list li {
  margin-right: 40px;
  padding: 15px 0;
  position: relative;
}
header .menu_list li:hover a i {
  transform: rotate(180deg);
}
header .menu_list li:hover .submenu {
  opacity: 1;
  visibility: visible;
}
header .menu_list a {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
}
header .menu_list a i {
  font-size: 11px;
  margin-left: 4px;
  transition: 0.5s;
}
header .menu_btn {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
}
header .menu_btn a {
  border: 1px solid #003865;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.08);
  padding: 10px 18px;
}
header .menu_btn a:hover {
  background-color: #00589f;
  color: #fff;
}
header .submenu {
  width: 90vw;
  position: fixed;
  top: 77px;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 40px;
  opacity: 0;
  visibility: hidden;
}
header .submenu.block {
  width: 320px;
}
header .submenu.block ul li {
  width: 100%;
}
header .submenu ul {
  background: #fff;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  border-radius: 6px;
}
header .submenu ul li {
  width: 20%;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(205, 204, 220, 0.2705882353);
  border-right: 1px solid rgba(205, 204, 220, 0.2705882353);
  margin-right: 0;
}
header .submenu ul li:hover {
  background: #00589f;
}
header .submenu ul li:hover a {
  color: #fff;
}
header .submenu ul li a {
  color: #003865;
}

.hero .swiper-slide {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 3;
}
.hero .swiper-slide.swiper-slide-active .hero_text {
  top: 60%;
  opacity: 1;
  visibility: visible;
  transition-delay: 1s;
}
.hero .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
}
.hero .swiper-slide a:hover {
  color: #fff;
}
.hero .swiper-slide .hero_image {
  width: 100%;
  height: 100%;
  background-position: center !important;
  background-size: cover !important;
  position: relative;
}
.hero .swiper-slide .hero_image::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  z-index: 1;
}
.hero .swiper-slide .hero_text {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: 1.5s;
}
.hero .swiper-slide .hero_text h1 {
  margin-bottom: 30px;
}
.hero .swiper-slide .hero_text p {
  font-size: 17px;
}
.hero .swiper-slide .hero_text .btn {
  display: inline-block;
  border: 1px solid #b6b6b6;
  font-size: 14px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.18);
  padding: 12px 18px;
  margin-top: 30px;
  text-transform: uppercase;
  width: 160px;
}
.hero .swiper-slide .hero_text .btn i {
  font-size: 12px;
  opacity: 0.8;
  margin-left: 8px;
}
.hero .swiper-slide .hero_text .btn:hover {
  background-color: #00589f;
  color: #fff;
}
.hero .swiper-button {
  width: 45px;
  height: 45px;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 50%;
  border: 1px solid #b6b6b6;
}
.hero .swiper-button:hover {
  background-color: #00589f;
}
.hero .swiper-button:after {
  font-size: 16px;
  color: #fff;
}

.choose .box {
  background: #eef8fe;
  border: 1px solid rgba(3, 25, 44, 0.15);
  border-radius: 4px;
}
.choose .box .image img {
  width: 100%;
  height: 340px;
  -o-object-fit: cover;
     object-fit: cover;
}
.choose .box .text {
  padding: 40px 30px;
  text-align: center;
}
.choose .box .text h5 {
  font-weight: 700;
  margin-bottom: 15px;
}
.choose .box .text p {
  font-size: 14px;
  line-height: 24px;
}
.choose .box .text .btn {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 600;
}

.product_box {
  background: #fff;
  border-radius: 4px;
  border: 1px solid rgba(3, 25, 44, 0.15);
}
.product_box:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}
.product_box .image {
  width: 100%;
  height: 234px;
  border-bottom: 1px solid rgba(3, 25, 44, 0.15);
  position: relative;
  overflow: hidden;
  border-radius: 6px;
}
.product_box .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.product_box .text {
  padding: 25px 15px;
  background: #fff;
  border-radius: 4px;
  transition: 0.5s;
}
.product_box .text h5 {
  font-size: 17px;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 8px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.product_box .text a {
  display: block;
}
.product_box .text .btn {
  border-radius: 30px;
  font-size: 12px;
  font-weight: 600;
  background: #00589f;
  color: #fff;
  margin-top: 10px;
  display: inline-block;
  padding: 10px;
  min-width: 140px;
  opacity: 0.8;
}
.product_box .text .btn:hover {
  opacity: 1;
}
.product_box .text .btn i {
  margin-left: 0;
  margin-right: 5px;
}

.featured {
  background: #eef8fe;
}
.featured .swiper {
  width: 100%;
  height: 820px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding-bottom: 60px;
}
.featured .swiper-slide {
  font-size: 18px;
  height: calc((100% - 30px) / 2) !important;
  position: relative;
}
.featured .swiper-slide .image {
  width: 100%;
  height: 234px;
  border-bottom: 1px solid rgba(3, 25, 44, 0.15);
  position: relative;
  overflow: hidden;
  border-radius: 6px;
}
.featured .swiper-slide .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.featured .swiper-slide .text {
  padding: 25px 15px;
  background: #fff;
  border-radius: 4px;
  transition: 0.5s;
}
.featured .swiper-slide .text h5 {
  font-size: 17px;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 8px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.featured .swiper-slide .text a {
  display: block;
}
.featured .swiper-slide .text .btn {
  border-radius: 30px;
  font-size: 12px;
  font-weight: 600;
  background: #00589f;
  color: #fff;
  margin-top: 10px;
  display: inline-block;
  padding: 10px;
  min-width: 140px;
  opacity: 0.8;
}
.featured .swiper-slide .text .btn:hover {
  opacity: 1;
}
.featured .swiper-slide .text .btn i {
  margin-left: 0;
  margin-right: 5px;
}
.featured .swiper-pagination {
  bottom: 0px;
}
.featured .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: rgba(3, 25, 44, 0.5254901961);
  position: relative;
  margin: 0 8px;
}
.featured .swiper-pagination .swiper-pagination-bullet::before {
  position: absolute;
  content: "";
  width: 150%;
  height: 150%;
  border-radius: 50%;
  transform: translate(-9px, -3px);
  border: 1px solid #333;
}
.featured .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #00589f;
}
.featured .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  border: 1px solid #00589f;
}

.home_presence {
  position: relative;
}
.home_presence .presence_cta {
  background: #00589f;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 100px;
  position: relative;
  border-radius: 4px;
}
.home_presence .presence_cta::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background: url(../images/network.jpg);
  top: 0;
  left: 0;
  background-position: center;
  background-size: cover;
}
.home_presence .presence_cta .cta {
  position: relative;
  z-index: 2;
  background: rgba(46, 118, 176, 0.368627451);
  padding: 100px 0;
  border-radius: 4px;
}
.home_presence .presence_cta .btn {
  color: #fff;
  border: 1px solid #fff;
  font-size: 12px;
}
.home_presence .presence_cta h3 {
  margin-bottom: 0;
}
.home_presence .presence_cta p {
  font-weight: 300;
  margin-bottom: 0;
}

footer .footer_top {
  background: #eef8fe;
  padding: 60px 0;
}
footer .footer_top .block {
  margin-bottom: 40px;
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 40px;
}
footer .footer_top .block:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}
footer .footer_top h6 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 800;
}
footer .footer_top ul li {
  display: inline-flex;
  margin: 5px;
  border: 1px solid #cdcdcd;
  padding: 8px 12px;
  border-radius: 4px;
}
footer .footer_top ul li:hover {
  background: #00589f;
}
footer .footer_top ul li:hover a {
  color: #fff;
}
footer .footer_top ul li a {
  display: block;
}
footer .footer_main {
  padding: 60px 0;
  background-color: #00589f;
  color: #fff;
  text-align: center;
}
footer .footer_main img {
  max-width: 100%;
  height: 80px;
}
footer .footer_main i {
  font-size: 32px;
}
footer .footer_main h6 {
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 0px;
}
footer .footer_btn {
  padding: 10px 0;
  background: #1163a5;
  color: #fff;
}
footer .footer_btn p {
  margin-bottom: 0;
  text-align: center;
  font-size: 14px;
}

.s_breadcrumb {
  background: #eef8fe;
  padding: 60px 0;
  margin-top: 118px;
}
.s_breadcrumb h3 {
  font-weight: 800;
  margin-bottom: 10px;
}
.s_breadcrumb ul {
  display: flex;
  opacity: 0.8;
}
.s_breadcrumb ul li {
  margin-right: 15px;
}
.s_breadcrumb ul li a {
  font-size: 15px;
}
.s_breadcrumb ul li:last-child span {
  display: none;
}
.s_breadcrumb ul li span {
  margin-left: 10px;
}

.category_title {
  margin-bottom: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(3, 25, 44, 0.15);
}
.category_title h6 {
  font-size: 20px;
}
.category_title p {
  font-size: 14px;
}
.category_title p i {
  opacity: 0.5;
  margin-right: 5px;
}

.products_row .product_box {
  margin-bottom: 30px;
}

.product_detail .image .main {
  width: 100%;
  height: 380px;
  border: 1px solid rgba(3, 25, 44, 0.15);
  border-radius: 4px;
  padding: 5px;
}
.product_detail .image .main img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.product_detail .image .thumbnail {
  margin-top: 10px;
}
.product_detail .image .thumbnail .img {
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid rgba(3, 25, 44, 0.15);
  cursor: pointer;
  padding: 2px;
}
.product_detail .text .main {
  padding-bottom: 20px;
}
.product_detail .text .main h5 {
  font-weight: 800;
  margin-bottom: 15px;
}
.product_detail .text .main small {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}
.product_detail .text .main .price {
  margin: 15px 0;
  font-size: 16px;
  font-weight: 700;
}
.product_detail .text .main .btn {
  min-width: auto;
  padding: 10px 15px;
  font-size: 13px;
  font-weight: 600;
  border-radius: 30px;
}
.product_detail .text .main a {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 40px;
}
.product_detail .text .main a.scrollLink {
  display: block;
  text-decoration: underline;
}
.product_detail .nav {
  list-style: none !important;
  padding-left: 0px !important;
}
.product_detail .nav li {
  border-right: 1px solid rgba(0, 56, 101, 0.33);
}
.product_detail .nav li:last-child {
  border-right: 0;
}
.product_detail .nav li button {
  color: #003865;
  padding: 18px 35px;
  font-size: 15px;
  font-weight: 700;
  background: rgba(0, 88, 159, 0.1215686275);
  border-radius: 0;
  text-transform: uppercase;
}
.product_detail .nav li button.active {
  background: #003865;
  border-radius: 4px;
}
.product_detail h6 {
  font-size: 16px;
  font-weight: 800;
}
.product_detail .main_text {
  border: 1px solid rgba(3, 25, 44, 0.15);
  border-radius: 4px;
}
.product_detail .main_text .tab-content {
  padding: 15px 30px;
}
.product_detail .main_text ul {
  list-style: circle;
  padding-left: 25px;
}
.product_detail .main_text ul li {
  margin-bottom: 10px;
}/*# sourceMappingURL=style.css.map */