$blue: #3572ef;
$green: #00a651;
$text-blue: #003865;

.flex {
  display: flex;

  &.align_center {
    align-items: center;
  }

  &.justify_center {
    justify-content: center;
  }

  &.justify_between {
    justify-content: space-between;
  }

  &.space_between {
    justify-content: space-between;
  }

  &.align-end {
    align-items: end;
  }
}

.title {
  h3 {
    margin-bottom: 15px;
  }

  h6 {
    font-size: 14px;
  }
}

.btn {
  display: inline-block;
  border: 1px solid $text-blue;
  font-size: 14px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.18);
  padding: 12px 18px;
  text-transform: uppercase;
  min-width: 160px;
  color: $text-blue;

  i {
    font-size: 12px;
    opacity: 0.8;
    margin-left: 8px;
  }

  &:hover {
    background-color: #3572ef;
    color: #fff;
  }
}

header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;

  &::before {
    position: absolute;
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.08);
  }

  .top_menu {
    padding: 10px 0;
    position: relative;
    z-index: 2;
    background: $blue;

    a {
      color: #fff;
      margin: 0 20px;
      font-size: 14px;
      font-weight: 300;

      i {
        margin-right: 3px;
      }
    }
  }

  .logo {
    margin-right: 50px;
    img {
      height: 75px;
    }
  }

  .menu {
    border-top: 1px solid #b6b6b6;
    border-bottom: 1px solid #b6b6b6;
    position: relative;
    z-index: 2;
  }

  .menu_list {
    li {
      margin-right: 40px;
    }

    a {
      text-transform: uppercase;
      color: #fff;
      font-size: 15px;
      font-weight: 400;

      i {
        font-size: 11px;
        margin-left: 4px;
      }
    }
  }

  .menu_btn {
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
    font-weight: 500;

    a {
      border: 1px solid #b6b6b6;
      border-radius: 30px;
      background-color: rgba(255, 255, 255, 0.08);
      padding: 10px 18px;

      &:hover {
        background-color: #3572ef;
        color: #fff;
      }
    }
  }
}

.hero {
  .swiper-slide {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 3;

    &.swiper-slide-active {
      .hero_text {
        top: 55%;
        opacity: 1;
        visibility: visible;
        transition-delay: 1s;
      }
    }

    a {
      display: block;
      width: 100%;
      height: 100%;
      color: #fff;

      &:hover {
        color: #fff;
      }
    }

    .hero_image {
      width: 100%;
      height: 100%;
      background-position: center !important;
      background-size: cover !important;
      position: relative;

      &::before {
        position: absolute;
        width: 100%;
        height: 100%;
        content: "";
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.65);
        z-index: 1;
      }
    }

    .hero_text {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      z-index: 5;
      opacity: 0;
      visibility: hidden;
      transition: 1.5s;

      h1 {
        margin-bottom: 30px;
      }

      p {
        font-size: 17px;
      }

      .btn {
        display: inline-block;
        border: 1px solid #b6b6b6;
        font-size: 14px;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0.18);
        padding: 12px 18px;
        margin-top: 30px;
        text-transform: uppercase;
        width: 160px;

        i {
          font-size: 12px;
          opacity: 0.8;
          margin-left: 8px;
        }

        &:hover {
          background-color: #3572ef;
          color: #fff;
        }
      }
    }
  }

  .swiper-button {
    width: 45px;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 50%;
    border: 1px solid #b6b6b6;

    &:hover {
      background-color: $blue;
    }

    &:after {
      font-size: 16px;
      color: #fff;
    }
  }
}

.choose {
  .box {
    background: #ebf6fa;
    border: 1px solid rgba(3, 25, 44, 0.15);
    border-radius: 4px;

    .image {
      img {
        width: 100%;
        height: 340px;
        object-fit: cover;
      }
    }

    .text {
      padding: 40px 30px;
      text-align: center;

      h5 {
        font-weight: 700;
        margin-bottom: 15px;
      }

      p {
        font-size: 14px;
        line-height: 24px;
      }

      .btn {
        margin-top: 10px;
        font-size: 12px;
        font-weight: 600;
      }
    }
  }
}
